<div class="loginCard">
    
        <img  width="175px" height="150px" 
        style="margin-bottom: 10px"  src="https://bucketgame.s3.us-east-2.amazonaws.com/_coolaborate.png">
        
        <form  [formGroup]="resetPassword"  >
          <label>Enter Username to Reset Password</label>
            <p><input formControlName="username" type="text" name="username" value="" placeholder="Username" required></p>
            <!-- <p><input formControlName="email" type="email" name="email" value="" placeholder="Email" required ></p> -->
            
            
            <!--p><input type="submit" value="Login" (click)="getUser()"></p> -->
    
       
          <!--  
            <button class="btn btn-primary" (click)="onLogin()" >Login</button>
            <button class="btn btn-primary" (click)="onLogout()">Logout</button>
       -->
    
        </form>
        <p><button type="button" (click)="resetPasswordFunc()" value="Reset Password" >Reset Password</button></p>
    </div>