.registerationCard{
    background-color: #A3CEF1;
    padding: 10px;
    text-align: center;
    width: 33%;
    margin: 0 auto;
    
}

.defaultProPic{
    width:100px;
    height: 100px;
    margin: 15px;
}
label{
    text-align: left;
}


