<div>
<div >
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link active" routerLink="/">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
  </ul>
</div>



<div >
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" (click)="logOut()" routerLink="/">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="feed">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="search">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="editProfile">Edit Profile</a>
      </li>
  </ul>
</div>

</div>
<router-outlet></router-outlet>






<!--
<div>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="feed">Feed</a>
      </li>
      
    </ul>
  
  </div>

  -->