 <div>

  <!--  <div style="background-color: #3D96BF">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link active" routerLink="/">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
  </ul>
</div> -->



<!-- <div *ngIf="isValid"> -->
    <div style="background-color: #3D96BF">
  <ul class="nav">
    <li class="nav-item" [hidden]="getLogoutHidden()">
      <a class="nav-link" (click)="logOut()" routerLink="/">Logout</a>
    </li>
    <li class="nav-item" [hidden]="getProfileHidden()">
      <a class="nav-link" routerLink="profile">Profile</a>
    </li>
    <li class="nav-item" [hidden]="getFeedHidden()">
      <a class="nav-link" routerLink="feed">Feed</a>
    </li>
    <li class="nav-item" [hidden]="getSearchHidden()">
      <a class="nav-link active" routerLink="search"   >Search</a>
      <!-- <a class="nav-link active"   (click)="open(content)"><span class="fakeLink" >Search</span></a> -->
    </li>
    <li class="nav-item" style="text-align: right" [hidden]="getRegisterHidden()">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    
  </ul>
</div>

</div>
<router-outlet></router-outlet>




<!-- 
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Search Feature~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Search for Profiles</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="searchForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="searchname">Name</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Name" formControlName="name">
        </div>
      </div>
      <input type="submit" class="btn btn-outline-dark" value="Search">
    </form>
    <!-- this is where the search results go -->
    <app-search-results [people2]=people ></app-search-results>

  </div>
  <br> 
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Search for People</button>

<hr>
<pre>
  {{searchForm.value | json}}
</pre>
<pre>{{closeResult}}</pre> -->






<!-- 
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Search Feature~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


