

<div class="loginCard">
    
    <img  width="225px" height="75px" 
    style="margin-bottom: 10px"  src="http://ww1.prweb.com/prfiles/2012/09/17/9911504/basic%20logo-01.jpg">
    
    <form action="Login.do" (ngSubmit)="onLogin()">
        <p>Username<br><input type="text" name="username" value=""></p>
        <p>Password<br><input type="password" name="password" value="" ></p>
        <p><input type="submit" value="Login" ></p>

        <button class="btn btn-primary" (click)="onLogin()">Login</button>
   <button class="btn btn-primary" (click)="onLogout()">Logout</button>
   
    </form>
</div>