<div class="loginCard">
    <img  width="175px" height="150px" 
    style="margin-bottom: 10px"  src="https://bucketgame.s3.us-east-2.amazonaws.com/_coolaborate.png">
    
    <form  [formGroup]="loginForm" (ngSubmit)="convertFormToObject()" >
        <p><input class="form-control col-md-6 col-sm offset-3" formControlName="username" type="text" name="username" value="" placeholder="User Name" required></p>
        <p><input class="form-control col-md-6 col-sm offset-3" formControlName="password" type="password" name="password" value="" placeholder="Password" required ></p>
        <p>{{loginStatus}}</p>
        <p><input type="submit" value="Login" class="btn btn-primary btn-lg"></p>
        <p><a routerLink="forgot">Forgot Password?</a></p>
    </form>
</div>