.basicCenter{
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    
}

.defaultProPic{
    width:50%;
    height: 50%;
    margin: 15px;
    border-radius: 100px;
}

small{
    color:rgb(201, 201, 201)
}