<div class="card basicCenter" >
        <img class="defaultProPic" [src]="userProfile.photo" class="card-img-top" alt="...">
    
    <div class = "edit-profile-div">


            <div>
                    <form [formGroup]="editProfileForm" (ngSubmit)="submitEdit()">
                    <table class="table table-borderless" style=" background-color: white; text-align: left">
                            <tbody>
                              <tr>
                                <td><small >First Name:</small></td>
                                <td><input [class.is-invalid]= 
                                    "editProfileForm.get('firstName').invalid && 
                                    editProfileForm.get('firstName').touched" 
                                    formControlName="firstName" type="text" name="firstName" placeholder="First Name" required/>
                                </td>
                              </tr>

                              <tr>
                                    <td><small>Middle Name:</small></td>
                                    <td><input formControlName="middleName"type="text" name="middleName" placeholder="Middle Name"/></td>
                                  </tr>

                                  <tr>
                                        <td><small>Last Name:</small></td>
                                        <td><input [class.is-invalid]= 
                                            "editProfileForm.get('firstName').invalid && 
                                            editProfileForm.get('firstName').touched" 
                                            formControlName="lastName"type="text" name="lastName" placeholder="Last Name" required/></td>
                                      </tr>

                                      <tr>
                                            <td><small>Bio:</small></td>
                                            <td><input formControlName="bio"type="text" name="bio" placeholder="Bio"/></td>
                                          </tr>

                                          <tr>
                                                <td><small>Birthday:</small></td>
                                                <td><input formControlName="dob"type="text" name="dob" placeholder="DOB"/></td>
                                              </tr>

                              <tr>
                                  <td><small>Gender:</small></td>
                                  <td><input formControlName="gender"type="text" name="gender" placeholder="Gender"/></td>
                                </tr>

                                <tr>
                                    <td><small>RelationShip:</small></td>
                                    <td><input formControlName="relationshipStatus"type="text" name="relationshipStatus" placeholder="RelationshipStatus" /></td>
                                  </tr>
                                  <tr>
                                      <td><small>Favorite Color:</small></td>
                                      <td><input formControlName="favoriteColor"type="text" name="favoriteColor" placeholder="FavoriteColor"/></td>
                                    </tr>
                                    <tr>
                                        <td><small>City:</small></td>
                                        <td><input formControlName="city"type="text" name="city" placeholder="City" /></td>
                                      </tr>
                                      <tr>
                                          <td><small>Occupation:</small></td>
                                          <td><input formControlName="occupation"type="text" name="occupation" placeholder="Occupation"/></td>
                                        </tr>
                                        <tr>
                                                <td><small>Email:</small></td>
                                                <td><input formControlName="email"type="text" name="email" placeholder="Email"></td>
                            </tbody>
                          </table>
                          <button (click) = "submitEdit()" type="button" >Submit</button>
                
        </form>
            </div>
<!-- 
        <form [formGroup]="editProfileForm" (ngSubmit)="submitEdit()">

                <input [class.is-invalid]= 
                "editProfileForm.get('firstName').invalid && 
                editProfileForm.get('firstName').touched" 
                formControlName="firstName" type="text" name="firstName" placeholder="First Name" required/>

                

                <input formControlName="middleName"type="text" name="middleName" placeholder="Middle Name"/>

                <input [class.is-invalid]= 
                "editProfileForm.get('firstName').invalid && 
                editProfileForm.get('firstName').touched" 
                formControlName="lastName"type="text" name="lastName" placeholder="Last Name" required/>

               

                <input formControlName="bio"type="text" name="bio" placeholder="Bio"/>
                <input formControlName="dob"type="text" name="dob" placeholder="DOB"/>
                <input formControlName="gender"type="text" name="gender" placeholder="Gender"/>
                <input formControlName="relationshipStatus"type="text" name="relationshipStatus" placeholder="RelationshipStatus" />
                <input formControlName="favoriteColor"type="text" name="favoriteColor" placeholder="FavoriteColor"/>
                <input formControlName="city"type="text" name="city" placeholder="City" />
                <input formControlName="occupation"type="text" name="occupation" placeholder="Occupation"/>
                
            
                
                   <button (click) = "submitEdit()" type="button" >Submit</button>
                
        </form>
    -->
        {{editProfileForm.value | json}}
  </div>
    </div>