.basicCenter{
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    width: 33%;
    margin: 0 auto;
    
}
[required]::-webkit-input-placeholder { /* WebKit browsers */
    color:    red;
}
[required]::-moz-placeholder { /* WebKit browsers */
    color:    red;
}
[required]::-ms-input-placeholder { /* WebKit browsers */
    color:    red;
}