

<div>

    <div class="basicCenter">
        <div class="card spacing">
        <form [formGroup]="newPost" (click)="addPost()">
           <p>Write Your Post Here:
               <br>
               <input type="text" name="bodyText" formControlName="bodytext"placeholder="Text">
            </p>

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose an image file "Birds with Arms are nice!</label>
              </div>


       
            
            <button class="submit" value="Post!">Submit Post!</button>
        </form>
    </div>
    </div>
    

</div>