


<div class="basicCenter">
<!--Add a Picture to this to see who the post belongs to-->
<div class="card " style="width: 100%">
        <div class="card-body">


          
        <div style="height: 50%">
            <img class="postPic"  [src]="post.profile.photo" alt="ProfilePicture" style="padding:5px" srcset="">
          <h5 class="card-title">{{post.profile.firstName}} {{post.profile.lastName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{post.profile.occupation}}</h6>
        </div>
        
        
        <div style="height: 50%">
       <img  [src]="post.photo" style="width: 66%; height: 66%">  
          <p class="card-text">{{post.post_body}}</p>
        </div>


        <div>
          <a href="#" class="card-link">Like!</a><!--Make this a like Button-->
          <a href="#" class="card-link">Comment</a><!--Make this a comment option-->
        </div>

        </div>
      </div>
    


      <!--Need to make an addition to this card so that new comments append to the bottom
    of it with user name and profile picture-->

</div>