<div>

    <div *ngIf="!editMode" class="padContainer">
        <app-profile-card (childEvent)="editSwitchOn()" [userProfile]="userProfile"></app-profile-card>  <!-- the [profile] = "profile" loads the profile card with the passed in profile object in the TS-->
        <div class="centerButton">
        <button class="centerButton" (click)="editSwitchOn()"  >Edit Profile</button>
    </div>
    </div>
    <div *ngIf="editMode">
        <app-edit-profile (childEvent)="editSwitchOff()" ></app-edit-profile>
        <div class="centerButton">
        <button  (click)="editSwitchOff()"  >View Profile</button>
    </div>
    </div>

<!-- <button type="button" (click)="printPosts()">Click Me</button> -->

<app-post></app-post>

<div>

<div *ngFor="let post of userPosts">
        <app-post-card [post]="post"></app-post-card>
    </div>
</div>

<!-- {{userPosts | json}} -->

</div>